footer.bg-dark.py-4.mt-auto
    .container.px-5
        .row.align-items-center.justify-content-between.flex-column.flex-sm-row
            .col-auto
                .small.m-0.text-white Copyright &copy; Your Website 2023
            .col-auto
                a.link-light.small(href='#!') Privacy
                span.text-white.mx-1 &middot;
                a.link-light.small(href='#!') Terms
                span.text-white.mx-1 &middot;
                a.link-light.small(href='#!') Contact