nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container.px-5
        a.navbar-brand(href='index.html') Start Bootstrap
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ms-auto.mb-2.mb-lg-0
                li.nav-item
                    a.nav-link(href='index.html') Home
                li.nav-item
                    a.nav-link(href='about.html') About
                li.nav-item
                    a.nav-link(href='contact.html') Contact
                li.nav-item
                    a.nav-link(href='pricing.html') Pricing
                li.nav-item
                    a.nav-link(href='faq.html') FAQ
                li.nav-item.dropdown
                    a#navbarDropdownBlog.nav-link.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false')
                        | Blog
                    ul.dropdown-menu.dropdown-menu-end(aria-labelledby='navbarDropdownBlog')
                        li
                            a.dropdown-item(href='blog-home.html') Blog Home
                        li
                            a.dropdown-item(href='blog-post.html') Blog Post
                li.nav-item.dropdown
                    a#navbarDropdownPortfolio.nav-link.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false')
                        | Portfolio
                    ul.dropdown-menu.dropdown-menu-end(aria-labelledby='navbarDropdownPortfolio')
                        li
                            a.dropdown-item(href='portfolio-overview.html') Portfolio Overview
                        li
                            a.dropdown-item(href='portfolio-item.html') Portfolio Item
