doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Modern Business - Start Bootstrap Template

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Header
            header.py-5
                .container.px-5
                    .row.justify-content-center
                        .col-lg-8.col-xxl-6
                            .text-center.my-5
                                h1.fw-bolder.mb-3 Our mission is to make building websites easier for everyone.
                                p.lead.fw-normal.text-muted.mb-4 Start Bootstrap was built on the idea that quality, functional website templates and themes should be available to everyone. Use our open source, free products, or support us by purchasing one of our premium products or services.
                                a.btn.btn-primary.btn-lg(href='#scroll-target') Read our story

            // About section one
            section.py-5.bg-light#scroll-target
                .container.px-5.my-5

                    .row.gx-5.align-items-center
                        .col-lg-6
                            img.img-fluid.rounded.mb-5.mb-lg-0(src='https://dummyimage.com/600x400/343a40/6c757d', alt='...')
                        .col-lg-6
                            h2.fw-bolder Our founding
                            p.lead.fw-normal.text-muted.mb-0 Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto est, ut esse a labore aliquam beatae expedita. Blanditiis impedit numquam libero molestiae et fugit cupiditate, quibusdam expedita, maiores eaque quisquam.

            // About section two
            section.py-5
                .container.px-5.my-5

                    .row.gx-5.align-items-center
                        .col-lg-6.order-first.order-lg-last
                            img.img-fluid.rounded.mb-5.mb-lg-0(src='https://dummyimage.com/600x400/343a40/6c757d', alt='...')
                        .col-lg-6
                            h2.fw-bolder Growth &amp; beyond
                            p.lead.fw-normal.text-muted.mb-0 Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto est, ut esse a labore aliquam beatae expedita. Blanditiis impedit numquam libero molestiae et fugit cupiditate, quibusdam expedita, maiores eaque quisquam.


            // Team members section
            section.py-5.bg-light
                .container.px-5.my-5
                    .text-center
                        h2.fw-bolder Our team
                        p.lead.fw-normal.text-muted.mb-5 Dedicated to quality and your success
                    .row.gx-5.row-cols-1.row-cols-sm-2.row-cols-xl-4.justify-content-center
                        .col.mb-5.mb-5.mb-xl-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/ced4da/6c757d', alt='...')
                                h5.fw-bolder Ibbie Eckart
                                .fst-italic.text-muted Founder &amp; CEO
                        .col.mb-5.mb-5.mb-xl-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/ced4da/6c757d', alt='...')
                                h5.fw-bolder Arden Vasek
                                .fst-italic.text-muted CFO
                        .col.mb-5.mb-5.mb-sm-0
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/ced4da/6c757d', alt='...')
                                h5.fw-bolder Toribio Nerthus
                                .fst-italic.text-muted Operations Manager
                        .col.mb-5
                            .text-center
                                img.img-fluid.rounded-circle.mb-4.px-4(src='https://dummyimage.com/150x150/ced4da/6c757d', alt='...')
                                h5.fw-bolder Malvina Cilla
                                .fst-italic.text-muted CTO

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
