doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Modern Business - Start Bootstrap Template

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Navigation
        include includes/navbar.pug

        // Page Content
        section.py-5
            .container

                // Page Heading/Breadcrumbs
                h1
                    | Blog Home
                ol.breadcrumb.mb-4
                    li.breadcrumb-item
                        a(href='index.html') Home
                    li.breadcrumb-item.active Blog Home 1

                .row

                    // Blog Entries Column
                    .col-md-8

                        // Blog Post
                        .card.mb-4
                            img.card-img-top(src='https://via.placeholder.com/750x300', alt='Card image cap')
                            .card-body
                                h2.card-title Post Title
                                p.card-text
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
                                a.btn.btn-primary(href='#!') Read More →
                            .card-footer.text-muted
                                | Posted on January 1, 2021 by
                                a(href='#!') Start Bootstrap

                        // Blog Post
                        .card.mb-4
                            img.card-img-top(src='https://via.placeholder.com/750x300', alt='Card image cap')
                            .card-body
                                h2.card-title Post Title
                                p.card-text
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
                                a.btn.btn-primary(href='#!') Read More →
                            .card-footer.text-muted
                                | Posted on January 1, 2021 by
                                a(href='#!') Start Bootstrap

                        // Blog Post
                        .card.mb-4
                            img.card-img-top(src='https://via.placeholder.com/750x300', alt='Card image cap')
                            .card-body
                                h2.card-title Post Title
                                p.card-text
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
                                a.btn.btn-primary(href='#!') Read More →
                            .card-footer.text-muted
                                | Posted on January 1, 2021 by
                                a(href='#!') Start Bootstrap

                        // Pagination
                        ul.pagination.justify-content-center.mb-4
                            li.page-item
                                a.page-link(href='#!') ← Older
                            li.page-item.disabled
                                a.page-link(href='#!') Newer →

                    // Sidebar Widgets Column
                    .col-md-4

                        // Search Widget
                        .card.mb-4
                            h5.card-header Search
                            .card-body
                                .input-group
                                    input.form-control(type='text', placeholder='Search for...')
                                    span.input-group-append
                                        button.btn.btn-secondary(type='button') Go!

                        // Categories Widget
                        .card.mb-4
                            h5.card-header Categories
                            .card-body
                                .row
                                    .col-lg-6
                                        ul.list-unstyled.mb-0
                                            li
                                                a(href='#!') Web Design
                                            li
                                                a(href='#!') HTML
                                            li
                                                a(href='#!') Freebies
                                    .col-lg-6
                                        ul.list-unstyled.mb-0
                                            li
                                                a(href='#!') JavaScript
                                            li
                                                a(href='#!') CSS
                                            li
                                                a(href='#!') Tutorials

                        // Side Widget
                        .card
                            h5.card-header Side Widget
                            .card-body
                                | You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!

        // Footer
        footer.py-5.bg-dark
            .container
                p.m-0.text-center.text-white Copyright &copy; Your Website 2021

        // Bootstrap core JS
        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
