doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Modern Business - Start Bootstrap Template

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page Content
            section.py-5
                .container.px-5.my-5

                    .row.gx-5

                        .col-lg-3
                            .d-flex.align-items-center.mt-lg-5.mb-4
                                img.img-fluid.rounded-circle(src='https://dummyimage.com/50x50/ced4da/6c757d.jpg', alt='...')
                                .ms-3
                                    .fw-bold Valerie Luna
                                    .text-muted News, Business

                        .col-lg-9

                            // Post content
                            article

                                // Post header
                                header.mb-4

                                    // Post title
                                    h1.fw-bolder.mb-1 Welcome to Blog Post!

                                    // Post meta content
                                    .text-muted.fst-italic.mb-2 January 1, 2023

                                    // Post categories
                                    a.badge.bg-secondary.text-decoration-none.link-light(href='#!') Web Design
                                    a.badge.bg-secondary.text-decoration-none.link-light(href='#!') Freebies

                                // Preview image figure
                                figure.mb-4
                                    img.img-fluid.rounded(src='https://dummyimage.com/900x400/ced4da/6c757d.jpg', alt='...')

                                // Post content
                                section.mb-5

                                    p.fs-5.mb-4 Science is an enterprise that should be cherished as an activity of the free human mind. Because it transforms who we are, how we live, and it gives us an understanding of our place in the universe.
                                    p.fs-5.mb-4 The universe is large and old, and the ingredients for life as we know it are everywhere, so there's no reason to think that Earth would be unique in that regard. Whether of not the life became intelligent is a different question, and we'll see if we find that.
                                    p.fs-5.mb-4 If you get asteroids about a kilometer in size, those are large enough and carry enough energy into our system to disrupt transportation, communication, the food chains, and that can be a really bad day on Earth.
                                    h2.fw-bolder.mb-4.mt-5 I have odd cosmic thoughts every day
                                    p.fs-5.mb-4 For me, the most fascinating interface is Twitter. I have odd cosmic thoughts every day and I realized I could hold them to myself or share them with people who might be interested.
                                    p.fs-5.mb-4 Venus has a runaway greenhouse effect. I kind of want to know what happened there because we're twirling knobs here on Earth without knowing the consequences of it. Mars once had running water. It's bone dry today. Something bad happened there as well.

                            // Comments section
                            section
                                .card.bg-light
                                    .card-body

                                        // Comment form
                                        form.mb-4
                                            textarea.form-control(rows='3', placeholder='Join the discussion and leave a comment!')

                                        // Comment with nested comments
                                        .d-flex.mb-4

                                            // Parent comment
                                            .flex-shrink-0
                                                img.rounded-circle(src='https://dummyimage.com/50x50/ced4da/6c757d.jpg', alt='...')
                                            .ms-3
                                                .fw-bold Commenter Name
                                                | If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                                        
                                                // Child comment 1
                                                .d-flex.mt-4
                                                    .flex-shrink-0
                                                        img.rounded-circle(src='https://dummyimage.com/50x50/ced4da/6c757d.jpg', alt='...')
                                                    .ms-3
                                                        .fw-bold Commenter Name
                                                        | And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.

                                                // Child comment 2
                                                .d-flex.mt-4
                                                    .flex-shrink-0
                                                        img.rounded-circle(src='https://dummyimage.com/50x50/ced4da/6c757d.jpg', alt='...')
                                                    .ms-3
                                                        .fw-bold Commenter Name
                                                        | When you put money directly to a problem, it makes a good headline.

                                        // Single comment
                                        .d-flex
                                            .flex-shrink-0
                                                img.rounded-circle(src='https://dummyimage.com/50x50/ced4da/6c757d.jpg', alt='...')
                                            .ms-3
                                                .fw-bold Commenter Name
                                                | When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
