doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Modern Business - Start Bootstrap Template

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page Content
            section.py-5
                .container.px-5

                    h1.fw-bolder.fs-5.mb-4 Company Blog

                    .card.border-0.shadow.rounded-3.overflow-hidden
                        .card-body.p-0
                            .row.gx-0
                                .col-lg-6.col-xl-5.py-lg-5
                                    .p-4.p-md-5
                                        .badge.bg-primary.bg-gradient.rounded-pill.mb-2 News
                                        .h2.fw-bolder Article heading goes here
                                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique delectus ab doloremque, qui doloribus ea officiis...
                                        a.stretched-link.text-decoration-none(href='#!')
                                            | Read more
                                            i.bi.bi-arrow-right
                                .col-lg-6.col-xl-7
                                    .bg-featured-blog(style='background-image: url("https://dummyimage.com/700x350/343a40/6c757d");')

            section.py-5.bg-light
                .container.px-5
                    .row.gx-5
                        .col-xl-8
                            h2.fw-bolder.fs-5.mb-4 News
                            // News item
                            .mb-4
                                .small.text-muted May 12, 2023
                                a.link-dark(href='#!')
                                    h3 Start Bootstrap releases Bootstrap 5 updates for templates and themes
                            // News item
                            .mb-5
                                .small.text-muted May 5, 2023
                                a.link-dark(href='#!')
                                    h3 Bootstrap 5 has officially landed
                            // News item
                            .mb-5
                                .small.text-muted Apr 21, 2023
                                a.link-dark(href='#!')
                                    h3 This is another news article headline, but this one is a little bit longer
                            .text-end.mb-5.mb-xl-0
                                a.text-decoration-none(href='#!')
                                    | More news
                                    i.bi.bi-arrow-right
                        .col-xl-4
                            .card.border-0.h-100
                                .card-body.p-4
                                    .d-flex.h-100.align-items-center.justify-content-center
                                        .text-center
                                            .h6.fw-bolder Contact
                                            p.text-muted.mb-4
                                                | For press inquiries, email us at
                                                br
                                                a(href='#!') press@domain.com
                                            .h6.fw-bolder Follow us
                                            a.fs-5.px-2.link-dark(href='#!')
                                                i.bi-twitter
                                            a.fs-5.px-2.link-dark(href='#!')
                                                i.bi-facebook
                                            a.fs-5.px-2.link-dark(href='#!')
                                                i.bi-linkedin
                                            a.fs-5.px-2.link-dark(href='#!')
                                                i.bi-youtube
                                            

            // Blog preview section
            section.py-5
                .container.px-5
                    h2.fw-bolder.fs-5.mb-4 Featured Stories
                    .row.gx-5
                        .col-lg-4.mb-5
                            .card.h-100.shadow.border-0
                                img.card-img-top(src='https://dummyimage.com/600x350/ced4da/6c757d', alt='...')
                                .card-body.p-4
                                    .badge.bg-primary.bg-gradient.rounded-pill.mb-2 News
                                    a.text-decoration-none.link-dark.stretched-link(href='#!')
                                        .h5.card-title.mb-3 Blog post title
                                    p.card-text.mb-0
                                        | Some quick example text to build on the card title and make up the bulk of the card's content.
                                .card-footer.p-4.pt-0.bg-transparent.border-top-0
                                    .d-flex.align-items-end.justify-content-between
                                        .d-flex.align-items-center
                                            img.rounded-circle.me-3(src='https://dummyimage.com/40x40/ced4da/6c757d', alt='...')
                                            .small
                                                .fw-bold Kelly Rowan
                                                .text-muted March 12, 2023 &middot; 6 min read
                        .col-lg-4.mb-5
                            .card.h-100.shadow.border-0
                                img.card-img-top(src='https://dummyimage.com/600x350/adb5bd/495057', alt='...')
                                .card-body.p-4
                                    .badge.bg-primary.bg-gradient.rounded-pill.mb-2 Media
                                    a.text-decoration-none.link-dark.stretched-link(href='#!')
                                        .h5.card-title.mb-3 Another blog post title
                                    p.card-text.mb-0
                                        | This text is a bit longer to illustrate the adaptive height of each card. Some quick example text to build on the card title and make up the bulk of the card's content.
                                .card-footer.p-4.pt-0.bg-transparent.border-top-0
                                    .d-flex.align-items-end.justify-content-between
                                        .d-flex.align-items-center
                                            img.rounded-circle.me-3(src='https://dummyimage.com/40x40/ced4da/6c757d', alt='...')
                                            .small
                                                .fw-bold Josiah Barclay
                                                .text-muted March 23, 2023 &middot; 4 min read
                        .col-lg-4.mb-5
                            .card.h-100.shadow.border-0
                                img.card-img-top(src='https://dummyimage.com/600x350/6c757d/343a40', alt='...')
                                .card-body.p-4
                                    .badge.bg-primary.bg-gradient.rounded-pill.mb-2 News
                                    a.text-decoration-none.link-dark.stretched-link(href='#!')
                                        .h5.card-title.mb-3 The last blog post title is a little bit longer than the others
                                    p.card-text.mb-0
                                        | Some more quick example text to build on the card title and make up the bulk of the card's content.
                                .card-footer.p-4.pt-0.bg-transparent.border-top-0
                                    .d-flex.align-items-end.justify-content-between
                                        .d-flex.align-items-center
                                            img.rounded-circle.me-3(src='https://dummyimage.com/40x40/ced4da/6c757d', alt='...')
                                            .small
                                                .fw-bold Evelyn Martinez
                                                .text-muted April 2, 2023 &middot; 10 min read
                    .text-end.mb-5.mb-xl-0
                        a.text-decoration-none(href='#!')
                            | More stories
                            i.bi.bi-arrow-right

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
