doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Modern Business - Start Bootstrap Template

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page Content
            section.py-5
                .container.px-5.my-5
                    .row.gx-5.justify-content-center
                        .col-lg-6
                            .text-center.mb-5
                                h1.fw-bolder Project Title
                                p.lead.fw-normal.text-muted.mb-0 Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab similique, ducimus ut alias sit accusamus illum, asperiores deserunt dolorum quaerat qui! Ab, quisquam explicabo magni dolores unde beatae quam a.
                    .row.gx-5
                        .col-12
                            img.img-fluid.rounded-3.mb-5(src='https://dummyimage.com/1300x700/343a40/6c757d', alt='...')
                        .col-lg-6
                            img.img-fluid.rounded-3.mb-5(src='https://dummyimage.com/600x400/343a40/6c757d', alt='...')
                        .col-lg-6
                            img.img-fluid.rounded-3.mb-5(src='https://dummyimage.com/600x400/343a40/6c757d', alt='...')
                    .row.gx-5.justify-content-center
                        .col-lg-6
                            .text-center.mb-5
                                p.lead.fw-normal.text-muted Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam deserunt architecto enim eos accusantium fugit recusandae illo iste dignissimos possimus facere ducimus odit voluptatibus exercitationem, ex laudantium illum voluptatum corporis.
                                a.text-decoration-none(href='#!')
                                    | View project
                                    i.bi-arrow-right

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
