doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Modern Business - Start Bootstrap Template

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Pricing section
            section.bg-light.py-5
                .container.px-5.my-5
                    .text-center.mb-5
                        h1.fw-bolder Pay as you grow
                        p.lead.fw-normal.text-muted.mb-0 With our no hassle pricing plans
                    .row.gx-5.justify-content-center
                        // Pricing card free
                        .col-lg-6.col-xl-4
                            .card.mb-5.mb-xl-0
                                .card-body.p-5
                                    .small.text-uppercase.fw-bold.text-muted Free
                                    .mb-3
                                        span.display-4.fw-bold $0
                                        span.text-muted / mo.
                                    ul.list-unstyled.mb-4
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            strong 1 users
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            | 5GB storage
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            | Unlimited public projects
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            | Community access
                                        li.mb-2.text-muted
                                            i.bi.bi-x
                                            | Unlimited private projects
                                        li.mb-2.text-muted
                                            i.bi.bi-x
                                            | Dedicated support
                                        li.mb-2.text-muted
                                            i.bi.bi-x
                                            | Free linked domain
                                        li.text-muted
                                            i.bi.bi-x
                                            | Monthly status reports
                                    .d-grid
                                        a.btn.btn-outline-primary(href='#!') Choose plan
                        // Pricing card pro
                        .col-lg-6.col-xl-4
                            .card.mb-5.mb-xl-0
                                .card-body.p-5
                                    .small.text-uppercase.fw-bold
                                        i.bi.bi-star-fill.text-warning
                                        | Pro
                                    .mb-3
                                        span.display-4.fw-bold $9
                                        span.text-muted / mo.
                                    ul.list-unstyled.mb-4
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            strong 5 users
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            | 5GB storage
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            | Unlimited public projects
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            | Community access
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            | Unlimited private projects
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            | Dedicated support
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            | Free linked domain
                                        li.text-muted
                                            i.bi.bi-x
                                            | Monthly status reports
                                    .d-grid
                                        a.btn.btn-primary(href='#!') Choose plan
                        // Pricing card enterprise
                        .col-lg-6.col-xl-4
                            .card
                                .card-body.p-5
                                    .small.text-uppercase.fw-bold.text-muted Enterprise
                                    .mb-3
                                        span.display-4.fw-bold $49
                                        span.text-muted / mo.
                                    ul.list-unstyled.mb-4
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            strong Unlimited users
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            | 5GB storage
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            | Unlimited public projects
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            | Community access
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            | Unlimited private projects
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            | Dedicated support
                                        li.mb-2
                                            i.bi.bi-check.text-primary
                                            strong Unlimited
                                            | linked domains
                                        li.text-muted
                                            i.bi.bi-check.text-primary
                                            | Monthly status reports
                                    .d-grid
                                        a.btn.btn-outline-primary(href='#!') Choose plan

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
