// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Resets for body and html height for sticky footer
body,
html {
    height: 100%;
}

// Custom SCSS for feature component with Bootstrap icon
.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}

// Background image for featured blog post
.bg-featured-blog {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 15rem;
}
